
<Directory /var/www/px62.ergomoebel.at>
		AllowOverride None
				Require all denied
		</Directory>

<VirtualHost *:80>


					DocumentRoot /var/www/clients/client1/web31/web
			
		ServerName px62.ergomoebel.at
		ServerAlias mail.ergomoebel.at
		ServerAdmin webmaster@px62.ergomoebel.at


		ErrorLog /var/log/ispconfig/httpd/px62.ergomoebel.at/error.log



		<Directory /var/www/px62.ergomoebel.at/web>
				# Clear PHP settings of this website
				<FilesMatch ".+\.ph(p[345]?|t|tml)$">
						SetHandler None
				</FilesMatch>
				Options +SymlinksIfOwnerMatch
				AllowOverride All
								Require all granted
						</Directory>
		<Directory /var/www/clients/client1/web31/web>
				# Clear PHP settings of this website
				<FilesMatch ".+\.ph(p[345]?|t|tml)$">
						SetHandler None
				</FilesMatch>
				Options +SymlinksIfOwnerMatch
				AllowOverride All
								Require all granted
						</Directory>




		<IfModule mod_fastcgi.c>
				<Directory /var/www/clients/client1/web31/cgi-bin>
										Require all granted
								    </Directory>
				<Directory /var/www/px62.ergomoebel.at/web>
					<FilesMatch "\.php[345]?$">
						<If "-f '%{REQUEST_FILENAME}'">
							SetHandler php-fcgi
						</If>
					</FilesMatch>
				</Directory>
				<Directory /var/www/clients/client1/web31/web>
					<FilesMatch "\.php[345]?$">
						<If "-f '%{REQUEST_FILENAME}'">
							SetHandler php-fcgi
						</If>
					</FilesMatch>
				</Directory>
                Action php-fcgi /php-fcgi virtual
				Alias /php-fcgi /var/www/clients/client1/web31/cgi-bin/php-fcgi-*-80-px62.ergomoebel.at
                FastCgiExternalServer /var/www/clients/client1/web31/cgi-bin/php-fcgi-*-80-px62.ergomoebel.at -idle-timeout 300 -socket /var/lib/php7.2-fpm/web31.sock -pass-header Authorization  -pass-header Content-Type
		</IfModule>
		<IfModule mod_proxy_fcgi.c>
			#ProxyPassMatch ^/(.*\.php[345]?(/.*)?)$ unix:///var/lib/php7.2-fpm/web31.sock|fcgi://localhost//var/www/clients/client1/web31/web/$1
			<Directory /var/www/clients/client1/web31/web>
				<FilesMatch "\.php[345]?$">
					<If "-f '%{REQUEST_FILENAME}'">
						SetHandler "proxy:unix:/var/lib/php7.2-fpm/web31.sock|fcgi://localhost"
					</If>
				</FilesMatch>
			</Directory>
			</IfModule>



		# add support for apache mpm_itk
		<IfModule mpm_itk_module>
			AssignUserId web31 client1
		</IfModule>

		<IfModule mod_dav_fs.c>
		# Do not execute PHP files in webdav directory
			<Directory /var/www/clients/client1/web31/webdav>
				<ifModule mod_security2.c>
					SecRuleRemoveById 960015
					SecRuleRemoveById 960032
				</ifModule>
				<FilesMatch "\.ph(p3?|tml)$">
					SetHandler None
				</FilesMatch>
			</Directory>
			DavLockDB /var/www/clients/client1/web31/tmp/DavLock
			# DO NOT REMOVE THE COMMENTS!
			# IF YOU REMOVE THEM, WEBDAV WILL NOT WORK ANYMORE!
      # WEBDAV BEGIN
			# WEBDAV END
		</IfModule>




</VirtualHost>


<VirtualHost *:443>


					DocumentRoot /var/www/clients/client1/web31/web
			
		ServerName px62.ergomoebel.at
		ServerAlias mail.ergomoebel.at
		ServerAdmin webmaster@px62.ergomoebel.at

		<IfModule mod_http2.c>
			Protocols h2 http/1.1
		</IfModule>

		<IfModule mod_brotli.c>
			AddOutputFilterByType BROTLI_COMPRESS text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript application/xml application/xml+rss application/atom+xml application/json application/x-font-ttf application/vnd.ms-fontobject image/x-icon
		</IfModule>

		ErrorLog /var/log/ispconfig/httpd/px62.ergomoebel.at/error.log


  <IfModule mod_ssl.c>
		SSLEngine on
		SSLProtocol All -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
		# SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
		SSLHonorCipherOrder     on
		# <IfModule mod_headers.c>
		# Header always add Strict-Transport-Security "max-age=15768000"
		# </IfModule>
		SSLCertificateFile /var/www/clients/client1/web31/ssl/px62.ergomoebel.at-le.crt
		SSLCertificateKeyFile /var/www/clients/client1/web31/ssl/px62.ergomoebel.at-le.key
				  SSLUseStapling on
		  SSLStaplingResponderTimeout 5
		  SSLStaplingReturnResponderErrors off
		      </IfModule>

		<Directory /var/www/px62.ergomoebel.at/web>
				# Clear PHP settings of this website
				<FilesMatch ".+\.ph(p[345]?|t|tml)$">
						SetHandler None
				</FilesMatch>
				Options +SymlinksIfOwnerMatch
				AllowOverride All
								Require all granted
						</Directory>
		<Directory /var/www/clients/client1/web31/web>
				# Clear PHP settings of this website
				<FilesMatch ".+\.ph(p[345]?|t|tml)$">
						SetHandler None
				</FilesMatch>
				Options +SymlinksIfOwnerMatch
				AllowOverride All
								Require all granted
						</Directory>




		<IfModule mod_fastcgi.c>
				<Directory /var/www/clients/client1/web31/cgi-bin>
										Require all granted
								    </Directory>
				<Directory /var/www/px62.ergomoebel.at/web>
					<FilesMatch "\.php[345]?$">
						<If "-f '%{REQUEST_FILENAME}'">
							SetHandler php-fcgi
						</If>
					</FilesMatch>
				</Directory>
				<Directory /var/www/clients/client1/web31/web>
					<FilesMatch "\.php[345]?$">
						<If "-f '%{REQUEST_FILENAME}'">
							SetHandler php-fcgi
						</If>
					</FilesMatch>
				</Directory>
                Action php-fcgi /php-fcgi virtual
				Alias /php-fcgi /var/www/clients/client1/web31/cgi-bin/php-fcgi-*-443-px62.ergomoebel.at
                FastCgiExternalServer /var/www/clients/client1/web31/cgi-bin/php-fcgi-*-443-px62.ergomoebel.at -idle-timeout 300 -socket /var/lib/php7.2-fpm/web31.sock -pass-header Authorization  -pass-header Content-Type
		</IfModule>
		<IfModule mod_proxy_fcgi.c>
			#ProxyPassMatch ^/(.*\.php[345]?(/.*)?)$ unix:///var/lib/php7.2-fpm/web31.sock|fcgi://localhost//var/www/clients/client1/web31/web/$1
			<Directory /var/www/clients/client1/web31/web>
				<FilesMatch "\.php[345]?$">
					<If "-f '%{REQUEST_FILENAME}'">
						SetHandler "proxy:unix:/var/lib/php7.2-fpm/web31.sock|fcgi://localhost"
					</If>
				</FilesMatch>
			</Directory>
			</IfModule>



		# add support for apache mpm_itk
		<IfModule mpm_itk_module>
			AssignUserId web31 client1
		</IfModule>

		<IfModule mod_dav_fs.c>
		# Do not execute PHP files in webdav directory
			<Directory /var/www/clients/client1/web31/webdav>
				<ifModule mod_security2.c>
					SecRuleRemoveById 960015
					SecRuleRemoveById 960032
				</ifModule>
				<FilesMatch "\.ph(p3?|tml)$">
					SetHandler None
				</FilesMatch>
			</Directory>
			DavLockDB /var/www/clients/client1/web31/tmp/DavLock
			# DO NOT REMOVE THE COMMENTS!
			# IF YOU REMOVE THEM, WEBDAV WILL NOT WORK ANYMORE!
      # WEBDAV BEGIN
			# WEBDAV END
		</IfModule>




</VirtualHost>

<IfModule mod_ssl.c>
        SSLStaplingCache shmcb:/var/run/ocsp(128000)
</IfModule>



